@font-face {
  font-family: 'arcadeclassic';
  src: url('../assets/fonts/arcadeclassic.regular.ttf');
}

body {
  background-color: #313639;
}

#container {
  position: absolute;
  width: 640px;
  left: 200px;
  top: 150px;
  color: #a62c07;
  font-family: 'arcadeclassic';
  font-size: 40px;
}

.context{
  position: absolute;
  bottom: -20px;
  text-align: center;
  color: #DCDBDB;
  width:100%;
}

.controls{
  position: absolute;
  top: 10px;
  left: 10px;
  color: #DCDBDB;
  font-size: 20px;
  width:100%;
}


.last-canvas {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 11.5%;
  left: 20%;
}